@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
    --text-color: #5c5c5c;
    --bg-color: #fff;

    --text-section-left-height: 600px;
    --font: 'Rubik', sans-serif;
}

*{
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background-color: #555555;
}

header{
    width: 100%;
    margin: 25px auto;
    text-align: center;
    font-size: 24px;
}

.sample_header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_wrapper{
    padding:0;
    margin: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.text_section_left{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: var(--text-section-left-height);
    margin: 0 auto;
    padding: 15px 25px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
}

.color_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: calc(var(--text-section-left-height) / 6);
    margin: 0px;
    width: 40%;
}

.color_window{
    width: 300px;
    height: 250px;
    background-color: var(--text-color);
    position: relative;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 85px;
}
.color_window2{
    width: 300px;
    height: 250px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 15px;
    z-index: -1;
    top: 50px;
    left: 50px;
}

.input_field{
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sample_input_field{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
    margin: 0 auto;
    padding: 15px 25px;
}

#sample_title_input, #sample_body_input{
    width: 70%;
    height: 72px;
    margin: 10px auto;
}

#sample_title_input{
    height: 22px;
}

.text_wrapper button{
    width: 10%;
    margin: 0 auto;
    display: inline;
}

.font_change{
    width: 50%;
}